body {
    background: linear-gradient(to bottom, lightgray, lightyellow, orange, darkorange);
}

.head-text {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.btn-container{
    text-align: center;
}

#btnListAdd {
    margin-top: 40px;
    margin-bottom: 30px;
}

.project-list-item {
    list-style-type: none;
}