.project-list {
    margin: 2rem auto 0 auto;
    padding-bottom: 1rem;
    max-width: 60%;
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-panel {
    margin: 1rem 0;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(to bottom, lightgray, lightyellow, orange, darkorange);
}
